/* Navigation */
.navbar {
  margin-bottom: 0px;
}
.navbar-nav i { margin-right: 5px; }
div.input-group { margin: 10px 0px 10px 0px; }
div.sign-in-links { margin-top: 15px; }

/* Social media */
.social-icon p { margin: 0; }
.social-icon p a {
  margin-left: 5px;
  font-size: 35px;
  color: #000000;
}

.nav > li.dropdown.open {
  position: static;
}

.nav > li.dropdown.open .dropdown-menu {
  display:table; width: 100%; text-align: center; left:0; right:0; border-radius: 0px;
}

.dropdown-menu > li {
  display: table-cell;
}

.dropdown-menu > li > a {
  padding: 15px 0px;
}
