/* Admin backend */
#admin-menu { z-index: 9999; }

.col-md-12, .col-sm-12 {
  padding: 0px;
}

h1, h2, h3 {
  font-size: 28px;
}

div.main-container.container-fluid {
  padding: 30px 30px;
}

.front div.main-container.container-fluid, .node-type-article div.main-container.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
}
